<div class="hero-color hero {% if include.date %}article__hero{% endif %}">
  <div class="hero__container">
    {% if include.image %}
      <img src="{{ include.image }}" />
    {% endif %}
    {% if include.date %}
      <div class="article__container">
        <h1 class="article__title">{{ page.title | escape }}</h1>
        <div class="article__meta">Paru le <time>{{ page.date | date: "%m/%d" }}</time></div>
      </div>
    {% else %}
    <h1 class="hero__title">{{ include.title | escape }}</h1>
    <h3 class="hero__title">{{ include.subtitle | escape }}</h3>
    {% endif %}
  </div>
</div>