---
layout: default
---
{% include hero.html title=page.summary subtitle=page.subtitle %}
<section class="section section-grey">
  <div class="container">
    <div class="row bold">
      <p>Se délester des feuilles de style</p>
      <p>Rédiger collaborativement</p>
      <p>Centraliser les documents</p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    {{ content }}
  </div>
</section>

