---
layout: default
---

{% assign lang = page.lang | default: site.lang | default: "en" %}

<div class="page article">
{% include hero.html title=page.title %}
<section class="section">
  <div class="container">
    <div class="richtext">
      {{ content }}
    </div>
  </div>
</section>
